@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
   
}
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
   
    <link rel="stylesheet" href="~/css/registration.css" asp-append-version="true">
    <!-- Подключение jQuery -->
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
</head>

<div class="rm">
    
        <img class="logotip" src="~/images/logo.png" alt="Kafka Logo">
    
    <h2 class="textmain">Веб-серверное приложение по взаимодействию с OPC UA и Kafka</h2>
    <input class="input_login" type="text" value="user" />
    <input class="input_passw" type="text" value="password"/>
    <!-- Кнопка для отправки данных -->
    <button class="buttonRegistration" id="sendData">Войти</button>
</div>

<script src="~/js/registration.js" asp-append-version="true"></script>

